/**
 * Style overrides required for cedar-ification of JSON RTE and resulting markup sourced
 * from Contentstack.
 * This is a work-around for Contentstack only - not a recommended approach
 */
.html-wysiwyg-content {
  @include cdr-text-body-400;
}
.html-wysiwyg-content h1 {
  @include cdr-text-heading-serif-strong-900;
}
.html-wysiwyg-content h2 {
  @include cdr-text-heading-serif-800;
}
.html-wysiwyg-content h3 {
  @include cdr-text-heading-sans-600;
}
.html-wysiwyg-content h4,
.html-wysiwyg-content h5,
.html-wysiwyg-content h6 {
  @include cdr-text-heading-sans-500;
}
.html-wysiwyg-content figcaption {
  font-family: $cdr-font-family-sans;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 2.2rem;
  padding: $cdr-space-inset-one-x;
}

.html-wysiwyg-content a {
  @include cdr-link-base-mixin;
}

.html-wysiwyg-content .btn.btn-primary {
  @include cdr-button-base-mixin;
  @include cdr-button-primary-mixin;
}
.html-wysiwyg-content .btn.btn-secondary,
.html-wysiwyg-content .btn.btn-default {
  @include cdr-button-base-mixin;
  @include cdr-button-secondary-mixin;
}

.html-wysiwyg-content ol {
  @include cdr-list-base-mixin;
  @include cdr-list-ordered-mixin;
}
.html-wysiwyg-content ul {
  @include cdr-list-base-mixin;
  @include cdr-list-unordered-mixin;
}
.html-wysiwyg-content ul > li > p,
.html-wysiwyg-content ol > li > p {
  display: inline;
}

.html-wysiwyg-content .checkbox label {
  @include cdr-label-standalone-label-mixin;
}
